<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      {{#each burgers}}
        {{#unless devoured}}
        <form action="/eat/{{id}}" method="POST">
            <li>{{id}}: {{burger_name}}</li>
            <button class="btn btn-danger" type="submit">Devour!</button>
          </div>
        </form>
        {{/unless}}
      {{/each}}
    </div>

    <div class="col-sm-3">
      {{#each burgers}}
        {{#if devoured}}
          <li>{{id}}: {{burger_name}}</li>
          </span>
        {{/if}}
      {{/each}}
    </div>
  </div>
  
  <form action="/api/new" method="POST">
    <label>Request a new burger!</label>
    <textarea class="form-control" type="text" name="burger_name" id="newburger"></textarea>
    <button type="submit" id="submitbutton">Submit!</button>
  </form>
</div>


