<div class="container-fluid">
  <div class="row">
    <center>
      <div class="col-sm-6">
        <div id="readytoeat">
          {{#each burgers}}
            {{#unless devoured}}
              <form action="/eat/{{id}}" method="POST">
                <li>{{id}}: {{burger_name}}</li>
                <button class="btn btn-danger" type="submit">Devour!</button>
              </form>
            {{/unless}}
          {{/each}}
        </div>
      </div>

      <div class="col-sm-6" id="eaten">
        {{#each burgers}}
          {{#if devoured}}
            <li>{{id}}: {{burger_name}}</li>
          {{/if}}
        {{/each}}
      </div>
    </center>
  </div>

  <br><br><br>

  <div class="row">
    <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form action="/api/new" method="POST">
          <label>Request a new burger!</label>
          <textarea class="form-control" type="text" name="burger_name" id="newburger"></textarea><br>
          <button type="submit" id="submitbutton">Submit!</button>
        </form>
      </div>
    </div>
  </div>
</div>

